/* Themify Customize Styling */
body {		line-height:150%;

	color: #000000; 
}
.pagewidth {	
	width: 1200px; 
}
#site-description {	display: none; 
}
#main-nav a {	
	font-family:Montserrat;	font-weight:normal;
	font-size:16px;
	text-transform:uppercase;
	color: #333333; 
}
#footerwrap {	
	background-color: #222222; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #cccccc; 
}

/* Themify Custom CSS */
.home .page-title {
display: none
}

header .social-widget,
header form,
footer .two {
display: none;
}

#header {
height:102px;
}

#main-nav {
right: 0;
left: auto;
}


#content {
padding: 1% 0 3%;
}

.module-slider.themify_builder_slider_vertical .carousel-prev, 
.module-slider.themify_builder_slider_vertical .carousel-next {
background: transparent;
margin: 0 10px;
color: #000;
}

#footer {
border-top: 0;
}

.back-top {
float: right;
}

@media (min-width: 980px) and (max-width: 1210px) {
.pagewidth {max-width:95%;}
}