.themify_builder .slider-5-0-0-1.module-slider { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
/* .themify_builder_5_row.module_row_1 Style */
.themify_builder_5_row.module_row_1.module_row {
	margin-top : 20px;
	margin-right : 0px;
	margin-bottom : 20px;
	margin-left : 0px
}

/* .module_row_1 .module_column_0.tb_5_column Style */
.module_row_1 .module_column_0.tb_5_column.module_column {
	color: #000000
}
.module_row_1 .module_column_0.tb_5_column.module_column h1 {
	color: #000000
}
.module_row_1 .module_column_0.tb_5_column.module_column h2 {
	color: #000000
}
.module_row_1 .module_column_0.tb_5_column.module_column h3:not(.module-title) {
	color: #000000
}
.module_row_1 .module_column_0.tb_5_column.module_column h4 {
	color: #000000
}
.module_row_1 .module_column_0.tb_5_column.module_column h5 {
	color: #000000
}
.module_row_1 .module_column_0.tb_5_column.module_column h6 {
	color: #000000
}

/* .sub_column_post_5.sub_column_1-0-1-0 Style */
.sub_column_post_5.sub_column_1-0-1-0.sub_column {
	font-size: 16px;
	line-height: 150%
}

/* .sub_column_post_5.sub_column_1-0-1-1 Style */
.sub_column_post_5.sub_column_1-0-1-1.sub_column {
	font-size: 16px;
	line-height: 150%
}

/* .sub_column_post_5.sub_column_1-0-1-2 Style */
.sub_column_post_5.sub_column_1-0-1-2.sub_column {
	font-size: 16px;
	line-height: 150%
}

.themify_builder .text-5-2-0-2.module-text { padding-top: 60px; padding-right: 0px; padding-bottom: 60px; padding-left: 0px;  } 
.themify_builder .text-5-3-0-1.module-text { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 30px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
.themify_builder .slider-5-3-0-2.module-slider { padding-top: 15px; padding-bottom: 30px;  } 
